header {
    background-color: yellow;
}

td {
    border: 1px solid red;
    padding: 15px;
    background-color: white;
}

table {
    border: 1px solid blue;
    background-color: yellow;
    padding: 15px;
    padding-bottom: 50px;
    padding-right:  50px;
    padding-left:   50px;
   